<!-- 
  NOTE:
  this section in linked in other projects
  if you decide to rename the connection strings, make sure the linked projects/config files also get modified
-->
<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=.;Initial Catalog=ZenImobiDev;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
</connectionStrings>